.project#u{

	$accent: #AEC1BF;

	& main{

		& .accent-text, a{
			color: $accent;
		}

		& video{
			min-height: 100%;
			object-fit: cover;
		}

		& .scrolling-bg-wrapper{

			height: 19.5vmax;
			margin-top: -14vmax;
			
			& .scrolling-bg{
				width: calc(100% + 200px);
				height: 8vmax;
				position: absolute;
				top: calc(50% - 3vmax);
				left: calc(50% - 50vw);
				transform: rotate(-3deg);
				background-size: contain;
				background-repeat: repeat;
			}
		}
	}

}
